@media print {
    
    * {
        --ion-background-color: #121212 !important;
    }
}

@media print {
    .no-print {
        display: none !important;
    }

    body {
        zoom: 80%;
        background-color: black;

        background: gray !important;
        --background-color: gray !important;
    }
}