
@import '@ionic/react/css/core.css';
@import '@ionic/react/css/normalize.css';
@import '@ionic/react/css/structure.css';
@import '@ionic/react/css/typography.css';
@import '@ionic/react/css/padding.css';
@import '@ionic/react/css/float-elements.css';
@import '@ionic/react/css/text-alignment.css';
@import '@ionic/react/css/text-transformation.css';
@import '@ionic/react/css/flex-utils.css';
@import '@ionic/react/css/display.css';

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Nova Mono Regular;
    src: url('assets/fonts/NovaMono-Regular.ttf');
}

* {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 16px;
}

.feed {

    @media (max-width: 800px) {
        /* Estilos para pantallas pequeñas (menos de 576px) */
        max-width: 100%;
        /* O ajusta según tus necesidades */
        margin: 0;
        padding: 0;
    }

    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 800px;

}


ion-segment {
    color: transparent;
}

ion-segment-button {
    color: #fff;
}

ion-segment-button::part(indicator) {
    width: 50%;
    margin: auto;
}

/* ********************* */

ion-card {
    background-color: #444;
    color: white;
}

ion-card-title, ion-card-subtitle {
    color: white;
}
