/*
.projectsComponent .ion-padding {
    color: #000;
}

.projectsComponent ion-card {
    --background: black;
    border-radius: 20px;
    --color: #9efff0;
}

.projectsComponent ion-card-title {
    --color: #52ffe4;
}

.projectsComponent ion-card-subtitle {
    --color: #d1fff8;
}

.projectsComponent .experienceCard {    
    background: linear-gradient(to right, green, purple);
    border-radius: 20px;
}
*/
.projectsComponent .technologiesColumns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.projectsComponent .technologyIcon {
    @media screen and (max-width: 800px) {
        font-size: 8em;
        height: 8vw;
        margin: 1vw;
    }

    font-size: 4em;
    height: 2vw;
    margin: 1vw;
}


/* TuEstilo.scss */
.projectsCard {
    background: center/cover;
    color: white;
    /* Ajusta el color del texto según tus necesidades */
    background-size: 100%;
    transition: 0.3s;
}

.projectsCardContent {
    background: rgba(0, 0, 0, 0.5);
    /* Ajusta el fondo semi-transparente según tus necesidades */
    padding: 16px;
    height: 100%;
    /* Ajusta el espaciado según tus necesidades */
}


.projectsCardContent:hover,
.projectsCardContent:focus {
    background: rgba(0, 0, 0, 0.75);
}

.projectsCard:hover,
.projectsCard:focus {
    background: center/cover;
    background-size: 200%;

}

/* modal */

.closeButton {
    --border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 10px;
    --box-shadow: 0;

    --border-color: #fff;
    --border-style: solid;
    --border-width: 1px;

    --background: #transparent;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
}

.projectDetailPage {
    background-color: #222;
    color: white;
}

.projectDetailPage ion-header {
    --background: #222;
    color: white;
    padding: 1% 1% 1% 1%;
    text-align: right;
}

.projectDetailPage ion-content {
    --background: #222;
    --color: white;
}

.projectDetailPage ion-content * {
    margin: 2% 10%;
}

.projectDetailPage img {
    max-width: 80%;
    height: auto;
}

.projectDetailPage .technologiesColumns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.projectDetailPage .technologyIcon {
    @media screen and (max-width: 800px) {
        font-size: 4em;
        height: 4vw;
        margin: 1vw;
    }

    font-size: 4em;
    height: 4vw;
    margin: 1vw;
}